# Database Connection Details
DB_HOST=localhost
DB_PORT=5432
DB_NAME=aicourseDB
DB_USERNAME=postgres
DB_PASSWORD=your_database_password_here

# Spring Security JWT Secret (must be a Base64 encoded string or at least 32 characters)
JWT_SECRET=your_jwt_secret_here

# OpenRouter configurations
OPENROUTER_API_KEY=your_openrouter_api_key_here
